#calendar {
    height: auto;
    width: 800px;
    /*    background-color: red;*/
    margin: auto;
    border: 1px solid black;
}

body {
    -webkit-user-select: none;
}

td {
    height: 100px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
}

.btn:hover {
    background-color: red;
    cursor: pointer;
}

.first {
    background-color: deepskyblue;
}

.notThisMonth {
    background-color: grey;
}

.notThisMonth:hover {
    cursor: pointer;
    background-color: red;
}

.title {
    height: 100px;
    width: auto;
    font-size: 2.6em;
    text-align: center;
}

th {
    text-align: center;
}

#nxt {
    float: right;
}

.btn2 {
    background-color: transparent;
    border: 0;
    font-size: 1.5em;
}

#prv {
    float: left;
}

.btn2:hover {
    color: blue;
}

#overlay {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .8);
}

#inside {
    width: 300px;
    margin: 100px auto;
    background-color: red;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

span {
    position: absolute;
    top: 0;
    right: 0;
}