#calendar {
    height: auto;
    width: 800px;
    /*    background-color: red;*/
    margin: auto;
    border: 1px solid black;
}

td {
    height: 100px;
    width: 100px;
    text-align: center;
    -webkit-user-select: none;
    border: 1px solid black;
}

.btn:hover {
    background-color: red;
    cursor: pointer;
}

.first {
    background-color: deepskyblue;
}

.notThisMonth {
    background-color: grey;
}

.notThisMonth:hover {
    cursor: pointer;
    background-color: red;
}

.title {
    height: 100px;
    width: auto;
    font-size: 2.6em;
    text-align: center;
}

th {
    text-align: center;
}

#nxt {
    float: right;
}

#prv {
    float: left;
}